[Desktop Entry]
Name=WhatPenguin
Comment=WhatsApp Web Client for Linux
Exec=whatpenguin
Icon=io.github.linuxpengueni1901.whatpenguin
StartupWMClass=io.github.linuxpengueni1901.whatpenguin
